@model DataModel.Model.Systems.DepartmentModel
<form class="form-horizontal" id="deptform">
    @Html.HiddenFor(m => m.IsUpdate)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Ma_BP, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Ma_BP, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ma_BP, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ten_BP, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Ten_BP, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ten_BP, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Lưu" class="btn btn-success" onclick="save()" />
            <input type="button" class="btn btn-warng1" data-dismiss="modal" value="Đóng" />
        </div>
    </div>

</form>
