@model DataModel.Model.Trade.DeXuatChiTietModel
<form class="form-horizontal" id="dxchitietform">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.DeXuatId)
    <div class="form-group">
        @Html.LabelFor(m => m.Ten, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Ten, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Ten, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Mo_Ta, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Mo_Ta, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Mo_Ta, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DVT, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DVT, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DVT, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SoLuong, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SoLuong, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SoLuong, "", new { @class = "text-danger" })
        </div>
    </div>
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Lưu" onclick="savedata('/Commerce/Requests/SaveDetail','table',this)" id="test" class="btn btn-success" />
            <button type="button" class="btn btn-info" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</form>
