@model DataModel.Model.Trade.DeXuatModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    var user = ViewBag.User as List<Data.Data.AppUser>;
}
@section style{
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
@section jfooter{

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>

    <script src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    <script src="~/Scripts/js/trade/tradedetail.js"></script>
}
<div class="bs-example4"  data-example-id="simple-responsive-table">
    <input id="ma" type="hidden" value="@Model.Id" />
    <div class="table-responsive">
        <table style="width:70%;margin:auto" class="center">
            <thead>
                <tr>
                    <th style="text-align:center;font-size:20px" colspan="2">Chi tiết phiếu đề xuất</th>
                </tr>
                <tr>
                    <td style="text-align:center;padding-bottom:10px" colspan="2">Ngày lập @(Model.Ngay_Tao.HasValue ? Model.Ngay_Tao.Value.ToString("dd/MM/yyyy") : "")</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-left:10px">Đề xuất số: @Model.Ma</td>
                </tr>
                <tr>
                    <td style="padding-bottom:10px;padding-left:10px"> Nội dung đề xuất: @Model.Tieu_De</td>
                    <td style="padding-bottom:10px">Loại đề xuất: @(Model.Kieu ? "Hàng hóa" : "Dịch vụ")</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Tiến độ mua hàng hóa:</td>
                </tr>
                <tr>
                    <td style="padding-left:10px"> Ngày gửi hồ sơ mời chào giá: @(Model.Ngay_Gui.HasValue ? Model.Ngay_Gui.Value.ToString("dd/MM/yyyy") : "")</td>
                </tr>
                <tr>
                    <td style="padding-left:10px"> Phê duyệt kết quả đánh giá: @(Model.Ngay_PD.HasValue ? Model.Ngay_PD.Value.ToString("dd/MM/yyyy") : "")</td>
                </tr>
                <tr>
                    <td style="padding-left:10px"> Đàm phán ký kết hợp đồng:@(Model.Ngay_HD.HasValue ? Model.Ngay_HD.Value.ToString("dd/MM/yyyy") : "")</td>
                </tr>
                <tr>
                    <td style="padding-left:10px;padding-bottom:10px"> Thực hiện hợp đồng:@(Model.Ngay_PHD.HasValue ? Model.Ngay_PHD.Value.ToString("dd/MM/yyyy") : "")</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Danh sách thành viên tổ đánh giá:</td>
                </tr>
                <tr>
                    <td style="padding-left:10px"> Tổ trưởng: @user.Where(m => m.UserName == Model.Ten_Dg).Select(m => m.FullName).FirstOrDefault()</td>
                </tr>
                <tr>
                    <td style="padding-left:10px"> Tổ phó thương mại: @user.Where(m => m.UserName == Model.Ten_Dg1).Select(m => m.FullName).FirstOrDefault()</td>
                </tr>
                <tr>
                    <td style="padding-left:10px"> Tổ phó kỹ thuật: @user.Where(m => m.UserName == Model.Ten_Dg2).Select(m => m.FullName).FirstOrDefault()</td>
                </tr>
                <tr>
                    <td style="padding-left:10px"> Tổ viên thương mại: @user.Where(m => m.UserName == Model.Ten_Dg3).Select(m => m.FullName).FirstOrDefault()</td>
                </tr>
                <tr>
                    <td style="padding-left:10px"> Tổ viên kỹ thuật: @user.Where(m => m.UserName == Model.Ten_Dg4).Select(m => m.FullName).FirstOrDefault()</td>
                </tr>
            </tbody>
        </table>
    </div><!-- /.table-responsive -->
</div>

<!--Nhà cung cấp-->
<div class="bs-example4" data-example-id="contextual-table">
    <div class="table-responsive">
        <div class="form-group">
            <button class="btn btn-primary" onclick="loadncc()" data-toggle="tooltip" data-placement="bottom" title="Thêm"><span class="fa fa-plus-square-o"></span></button>
            <button class="btn btn-danger" onclick="deletencc()" data-toggle="tooltip" data-placement="bottom" title="Xóa"><span class="fa fa-trash-o"></span></button>
            <div class="btn-group">
                <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Đánh giá <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width:20px">
                    <li><a href="/Commerce/Evaluations/IndexSpec?dx=@Model.Id">Kỹ thuật</a></li>
                    <li><a href="/Commerce/Evaluations/IndexCom?dx=@Model.Id">Thương mại</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button class="btn btn-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    In <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" style="min-width:20px">
                    <li><a href="/Report/Reports/EvaluePlan?dx=@Model.Id">Kế hoạch</a></li>
                    <li><a href="/Report/Reports/EvaluePrice?dx=@Model.Id">Chào giá</a></li>
                    <li><a href="/Report/Reports/EvalueTrade?dx=@Model.Id">Đánh giá HĐ</a></li>
                    <li><a href="/Report/Reports/EvalueTrade1?dx=@Model.Id">Đánh giá ĐĐH</a></li>
                </ul>
            </div>

        </div>
        <table class="table-bordered table-condensed" id="ncctable" style="font-family:'Times New Roman', Times, serif;font-size:11px">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Đánh giá kỹ thuật</th>
                    <th>Đánh giá thương mại</th>
                    <th>Tổng đánh giá</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!--Hàng hóa thông số kỹ thuật-->
<div class="panel panel-warning" id="kt" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

    <div class="panel-heading" style="background-color:#337ab7">
        <h2>Tiêu chí kỹ thuật</h2>
        <div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
    </div>
    <div class="panel-body no-padding">
        <div class="table-responsive">
            <div class="form-group">
                <button class="btn btn-primary" onclick="getdetail('/Commerce/Requests/GetDetail',0)" data-toggle="tooltip" data-placement="bottom" title="Thêm"><span class="fa fa-plus-square-o"></span></button>
                <button class="btn btn-warng1" onclick="getdata('/Commerce/Requests/GetDetail')" data-toggle="tooltip" data-placement="bottom" title="Sửa"><span class="fa fa-pencil-square-o"></span></button>
                <button class="btn btn-danger" onclick="deletedata('/Commerce/Requests/DeleteDetail','table')" data-toggle="tooltip" data-placement="bottom" title="Xóa"><span class="fa fa-trash-o"></span></button>
            </div>
            <table class="table-bordered table-condensed" id="marterialtable" style="font-family:'Times New Roman', Times, serif;font-size:11px">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Diễn giải</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Ghi Chú</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    </div>
    <!--Yêu cầu thương mại-->
<div class="panel panel-warning" id="tm"data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">

        <div class="panel-heading">
            <h2>Tiêu chí thương mại</h2>
            <div class="panel-ctrls" data-actions-container="" data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i class="ti ti-angle-down"></i></span></div>
        </div>
        <div class="panel-body no-padding">
            <div class="form-group">
                <button class="btn btn-primary" onclick="loadtm() " data-toggle="tooltip" data-placement="bottom" title="Thêm"><span class="fa fa-plus-square-o"> Thêm</span></button>

               
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>- Đồng tiền chào giá: </td>
                        <td id="TM_1">@(ViewBag.TM == null ? "" : ViewBag.TM.Loai_Tien)</td>
                    </tr>
                    <tr>
                        <td>- Hiệu lực chào giá: </td>
                        <td id="TM_2">@(ViewBag.TM == null ? "" : ViewBag.TM.Hieu_Luc)</td>
                    </tr>
                    <tr>
                        <td>- Thời gian bảo hành: </td>
                        <td id="TM_3">@(ViewBag.TM == null ? "" : ViewBag.TM.Thoi_Gian)</td>
                    </tr>
                    <tr>
                        <td>- Địa điểm giao hàng: </td>
                        <td id="TM_4">@(ViewBag.TM == null ? "" : ViewBag.TM.Dia_Diem)</td>
                    </tr>
                    <tr>
                        <td>- Điều kiện thanh toán: </td>
                        <td id="TM_5">@(ViewBag.TM == null ? "" : ViewBag.TM.Dieu_Kien)</td>
                    </tr>
                    <tr>
                        <td>- Chính sách bảo hành: </td>
                        <td id="TM_6">@(ViewBag.TM == null ? "" : ViewBag.TM.BH)</td>
                    </tr>
                    <tr>
                        <td>- Chế độ hậu mãi: </td>
                        <td id="TM_7">@(ViewBag.TM == null ? "" : ViewBag.TM.Che_Do)</td>
                    </tr>
                    <tr>
                        <td>- Tiêu chí khác: </td>
                        <td id="TM_8">@(ViewBag.TM == null ? "" : ViewBag.TM.Ghi_Chu)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!-- Toolbox-->
<div id="toolbox" class="toolbox">
    <div class="list-group">
        <button type="button" class="list-group-item" data-toggle="tooltip" data-placement="top" title="Đầu trang" onclick="ptsc.loadanimate('home')"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <button type="button" class="list-group-item" data-toggle="tooltip" data-placement="left" title="Kỹ thuật" onclick="ptsc.loadanimate('#kt')"><span class="glyphicon glyphicon-wrench"></span></button>
        <button type="button" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="Thương mại" onclick="ptsc.loadanimate('#tm')"><span class="glyphicon glyphicon-signal"></span></button>
    </div>
</div>
    <!-- Modal 1 -->
    <div id="myModal_1" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tìm nhà cung cấp</h4>
                </div>
                <div class="modal-body" id="modalbody_1">
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_Modal.cshtml")
