@model DataModel.Model.Commom.ChangePasswordModel
    @{
        ViewBag.Title = "ChangePassword";
        Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    }

<h3 class="blank1">Thay đổi mật khẩu</h3>
<div class="bs-example4" data-example-id="simple-responsive-table">
    <div class="table-responsive">
        @if (!string.IsNullOrEmpty(ViewBag.Notify))
        {
            <div class="@ViewBag.Type" role="alert">@ViewBag.Notify</div>
        }
        
        @using (Html.BeginForm("ChangePassword","Account",FormMethod.Post,new {@class= "form-horizontal" }))
        {
            @Html.ValidationSummary(true, "", new { @class="text-danger"})

            <div class="form-group">
                <label class="control-label col-md-2">Mật khẩu cũ</label>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.OldPassword, new { @class="form-control"})
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class="text-danger"})
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Mật khẩu mới</label>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.NewPassWord, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassWord, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Xác nhận mật khẩu mới</label>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <input type="submit" value="Xác Nhận" />
                </div>
            </div>
        }
    </div>
</div>

